<!-- <button pButton type="button" label="Secondary" class="p-button-secondary"></button> -->
<p-menubar [model]="items">
  <div>
      <input type="text" pInputText placeholder="Search">
      <button class="p-button-info" type="button" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>
  </div>
</p-menubar>

<p-button styleClass="a" (click)="select()" label="Get Selected Rows"></p-button>

<ag-grid-angular #agGrid
    style="width: 100%; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData|async"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    [frameworkComponents]="frameworkComponents"
    >
</ag-grid-angular>
<router-outlet></router-outlet>
